<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawVisualization);

  function drawVisualization() {
  
    var data = google.visualization.arrayToDataTable([["Date", "Flat Bridge (Glute muscles)", "Side-lying Hip (Hip Abductors)", "Foam Roll Hamstring Massage", "Vitamin B", "Feeling"], ["2015-02-04", 1, 1, 0, 0, 2], ["2015-02-05", 0, 1, 0, 1, 4], ["2015-02-06", 1, 1, 0, 0, 0], ["2015-02-07", 0, 0, 0, 0, 0], ["2015-02-08", 0, 0, 0, 0, 1], ["2015-02-09", 0, 1, 1, 0, 0], ["2015-02-10", 0, 0, 0, 0, 5], ["2015-02-11", 1, 1, 0, 1, 7]]);

    var options = {
      width: 1100,
      height: 400,
      legend: { position: 'top', maxLines: 3},
      isStacked: true,
      seriesType: "bars",
      series: {4: {type: "line"}},
      bar: {groupWidth: "90%"}
    };

    var chart = new google.visualization.ComboChart(document.getElementById('graph'));
    chart.draw(data, options);
  }
</script>

<h1>Home Page</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Track Your Progress</h3>
  </div>
  <div class="panel-body">  
    <div id="graph"></div>
  </div>
</div>

<%= render 'check_ins/box' %> 
<%= render 'feelings/box' %>

<div class="modal fade condition-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <%= form_for @condition, :url => create_condition_path, :html => {:method => :post} do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">What condition are you trying to improve?</h4>
        </div>
        <div class="modal-body">
            <%= f.label :name, "Name:" %>
            <%= f.text_field :name %><br>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" name="commit">Create</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Your Conditions</h3>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".condition-modal">+</button>
      </div>
      <div class="panel-body">
        <% @conditions.each do |condition|%>
          <%= link_to condition.name, condition_path(condition.id)%><br>
        <% end %>
      </div>
    </div>
  </div>

</div>

<%= render 'actionables/box' %>